@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --color-about: rgba(255, 255, 255, 0.2);
  --color-choosefile: rgba(224, 230, 237, 0.10)
  --color-choosefiletext: rgba(255, 255, 255, 0.60)

  --shadow-getstarted: 0px 0px 27.587px 0px rgba(0, 0, 0, 0.25);
  --shadow-sort: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

  --breakpoint-mb: 375px;
  --breakpoint-dk: 1440px;
}

body {
  background-color: #000;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.cont1 {
  background-image: url(/public/assets/storemobile.png);
  background-repeat: no-repeat;
  background-size: 380px 421px;
  background-position: -40px 54px;
}

.cont2 {
  background-image: url(/public/assets/couriersMobile.png);
  background-repeat: no-repeat;
  background-position: 0px 176px;
}

.cont3 {
  background-image: url(/public/assets/laptopMobile.png);
  background-repeat: no-repeat;
  background-position: 40px 176px;
}

@media screen and (min-width: 1440px) {
  .cont1 {
    background-image: url(/public/assets/storedesktop.png);
    background-size: 876px 800px;
    background-position: 288px -125px;
  }
  .cont2 {
    background-image: url(/public/assets/couriersDekstop.png);
    background-position: 0px 228px;
  }
  .cont3 {
    background-image: url(/public/assets/laptopDesktop.png);
    background-position: 810px 95px;
  }
}
